@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

a {
    all: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: hsl(0, 0%, 52%);
}